:root{
    --black: hsl(0, 0%, 13%);
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}
.frame {
    width: 600px;
    height: 879px;
    background: linear-gradient(to bottom, #ffa359, #ffffff);
    border-radius: 10px;
    padding:5px;
    position: relative;
}
.inner {
    width: 600px;
    height: 879px;
    border-radius: 10px;
    position: relative; 
    overflow: hidden;
}
.nitrooverlay {
    bottom: 0%;
    left: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('img/assets/discord/intro.png');
    background-size: cover;
    background-position: top;
    z-index: 1;
}
.banner {
    background-image: url('img/assets/discord/banner.gif');
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;
    min-height: 210px;
    z-index: 0;
    position: absolute;
}
.avatar {
    background-image: url('img/assets/discord/avatar.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    top: 150px;
    left: 24px;
    width: 120px;
    height: 120px;
    z-index: 1;
    border-radius: 100%;
    position: absolute;
}
.circle{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(70px at 84px 210px);
    background-color: rgb(255, 186, 130, 1);
}
.avataroverlay{
    background-image: url('img/assets/discord/avatardeco.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    top: 138px;
    left: 18px;
    width: 144px;
    height: 144px;
    z-index: 2;
    position: absolute;
}
.profile {
    background-color: rgb(146, 72, 42, 1);
    position: absolute;
    top: 235px;
    right: 24px;
    height: auto;
    width: 104px;
    border-radius: 10px;
    color: white;
    gap: 8px;
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    font-family: 'Noto Sans';
}
.profileclick {
    width: 124px;
    height: 40px;
    position: absolute;
    top: 235px;
    right: 24px;
    z-index: 101;
    cursor: pointer;
}
.profileicon {
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.blocker {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
}