
@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.sheen {
    all: unset;
    background-color: var(--black);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: 0.8px;
    border: 1px solid var(--red);
    box-shadow: 0 0 4px var(--red-shadow);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    perspective: 1000px;
    position: relative;
    overflow: hidden;
    color: var(--white);
}

.sheen:hover::after {
    animation: sheen var(--sheen) .9s infinite;
    
}

.sheen::after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: var(--red-sheen);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

.active {
    all: unset;
    background-color: var(--black);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    letter-spacing: 0.8px;
    border: 1px solid var(--red);
    box-shadow: 0 0 4px var(--red-shadow);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    perspective: 1000px;
    position: relative;
    overflow: hidden;
    color: var(--red2);
  }

:root {
    --sheen: cubic-bezier(.5, -0.25, .75, 1);
    --black: hsl(0, 0%, 13%);
    --red: hsl(12, 90%, 63%);
    --red2: hsl(12, 93%, 71%);
    --red-shadow: hsl(12, 100%, 60%);
    --white: hsl(0, 0%, 96%);
    --red-sheen: linear-gradient(
        to bottom,
        hsl(12, 90%, 43%),
        hsla(12, 40%, 70%, 0.5) 50%,
        hsl(12, 93%, 23%)
    );
}

.menubuttons {
    position: absolute;
    top: 2%;
    right: 2%;
}

html,
body {
  background-color: var(--black);
}

main {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}
